* {
  margin: 0;
  padding: 0;
  background-color: #333;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#map {
  width: 60vw;
  height: 70vh;
}
h1 {
  color: white;
}
p {
  color: white;
}
.overlay-content {
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 10px;
  max-width: 300px;
}

/* 맛집 목록 스타일 */
.restaurant-list {
  list-style: none;
  padding: 0;
}

.restaurant-list li {
  margin: 5px 0;
  color: white;
}
.mapandbutton {
  width: 90vw;
  height: 80vh;
  display: flex;
}
#btn {
  width: 10vw;
  height: 10vh;
  margin: 10px;
  color: #fff;
}
.button {
  display: flex;
  align-items: center;
  flex-direction: column;
}
